doctype html
html
  head
    title Angular Skills Test
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body(ng-app='Interview')
    nav.top-bar
      ul.title-area
        li.name
          h1
            a(href='/') Angular Architecture Test
      section.top-bar-section
        ul.left
          li
            a(ui-sref='main.users.list') Users
    block content
    block footer
    block scripts
    include scripts