
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")
script(src="/js/interview.js")